body {
    cursor: default;
}

header div {
    text-align: center;
}

.bdr {
    border: 2px dotted red;
}

.searchHist {
    margin-bottom: 5px;
    background-color: cyan;
    text-align: center;
    border-radius: 20px;
}

.searchHist:hover {
    color: white;
    cursor: pointer;
}

#dayOfBox {
    height: 295px;
}

#dayOfUv {
    width: fit-content;
}

.foreDay {
    height: 200px;
}